<h1 class="text-center"><%= t(".title", resource: resource.model_name.human) -%></h1>
<%= render "shared/form_errors", inst: resource -%>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "col-6 mx-auto" }) do |f| -%>
  <div class="form-group">
    <%= f.label :email, attr_name(:email, resource) -%>
    <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" -%>
  </div>
  <%- if devise_mapping.confirmable? && resource.pending_reconfirmation? -%>
    <div>
      <%= t(".currently_waiting_confirmation_for_email", email: resource.unconfirmed_email) -%>
    </div>
  <%- end -%>
  <div class="form-group">
    <%= f.label :display, attr_name(:display, resource) -%>
    <%= f.text_field :display, class: "form-control" -%>
  </div>
  <div class="field">
    <%= f.label :password, attr_name(:password, resource) -%>
    <i>(<%= t(".leave_blank_if_you_don_t_want_to_change_it") -%>)</i>
    <%= f.password_field :password, class: "form-control", autocomplete: "new-password" -%>
    <%- if @minimum_password_length -%>
      <small><%= t("devise.shared.minimum_password_length", count: @minimum_password_length) -%></small>
    <%- end -%>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, attr_name(:password_confirmation, resource) -%>
    <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" -%>
  </div>
  <div class="form-group">
    <%= f.label :current_password, attr_name(:current_password, resource) -%>
    <i>(<%= t(".we_need_your_current_password_to_confirm_your_changes") %>)</i>
    <%= f.password_field :current_password, class: "form-control", autocomplete: "current-password" %>
  </div>
  <div class="form-group">
    <%= f.submit t(".update"), class: "btn btn-primary" -%>
  </div>
<% end %>
<div class="col-6 mx-auto">
  <h2 class="text-center"><%= t(".cancel_my_account") %></h2>
  <p><%= t("misc.unhappy") %></p>
  <%= button_to t(".cancel_my_account"), registration_path(resource_name), class: "btn btn-danger", data: { confirm: t("warnings.sure") }, method: :delete %>
</div>
