<h1 class="text-center"><%= t('.sign_up') -%></h1>
<%= render 'shared/form_errors', inst: resource -%>
<%= form_for resource, as: resource_name, url: registration_path(resource_name), html: { class: "col-8 mx-auto" } do |f| -%>
  <div class="form-group">
    <%= f.label :email, attr_name(:email, resource) -%>
    <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" -%>
  </div>
  <div class="form-group">
    <%= f.label :display, attr_name(:display, resource) -%>
    <%= f.text_field :display, class: "form-control" -%>
  </div>
  <div class="form-group">
    <%= f.label :password, attr_name(:password, resource) -%>
    <%- if @minimum_password_length -%>
      <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) -%></em>
    <%- end -%>
    <%= f.password_field :password, class: "form-control", autocomplete: "new-password" -%>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, attr_name(:password_confirmation, resource) -%>
    <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" -%>
  </div>
  <div class="form-group">
    <%= f.submit t(".sign_up"), class: "btn btn-primary" -%>
  </div>
  <%= render "devise/shared/links" -%>
<%- end -%>
