<%= form_with(model: article) do |form| %>
  <%= render 'shared/form_errors', inst: article %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :image_caption %>
    <%= form.text_field :image_caption %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
